@media (max-width: 768px) {
.container {
    min-height: 100vh; 
    width: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.BurgerMenu{
    margin-right: 20px;
    height: 30px;
}

.babyPicture{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url('../../public/avatarBaby.jpg');
    margin-left: 30px;
    border: 2px solid white
}

.babyName{
    margin-left: -40px;
    font-size: 28px;
    font-weight: 500;
}

.dataContainer{
    margin-top: 30px;
}

.addDataWeight{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.weightBtn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: rgba(50, 115, 140, 1);
    color: #fff;
}

.weightValue{
    font-size: 18px;
    font-weight: bold;
}
}