.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #e6e6e6;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 10px;
}

.headerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delete {
  background-color: transparent;
  border: 0px;
}

.overlay {
  position: absolute;
  margin-top: 30%;
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  gap: 10px;
}


.button {
  width: 60%;
  height: 50px;
  background: #32738C;
  color: #e6e6e6;
  font-weight: 200;
  padding: 15px;
  margin: 10px;
  border-radius: 35px;
  border: solid 1px #7f7f7f;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background: #6596a9;
}

.input {
  width: 100%;
  height: 40px;
  color: #7f7f7f;
  font-weight: 200;
  padding-bottom: 0px;
  border: 0;
  border-bottom: solid 1px #7f7f7f;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
}
.input::placeholder {
  color: #bfbfbf
}
.input:focus-visible {
  outline: 0;
}
.input:focus {
  border: 0px;
  border-bottom: solid 2px #32738C;
}

.input:invalid {
  border: red solid 1px;
}

.bold {
  font-weight: bold;
}
.h4 {
  font-size: 20px;
  font-weight: 200;
  color:#7f7f7f ;
}
.containerTitleInput {
  justify-content: flex-start;
}

.textSmall {
  font-size: 8px ;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 100vh; */
    width: 100vw;
    padding: 20px;

  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .overlay {
    margin-top: 80%;
    position: static;
    width: 100%;
    background: none;
  }

  .button {
    width: 70%;
  }
}

.error {
  color: red;
}
.date {
  width: 100%;
  border-radius: 20px;
}