.container {
    height: 100vh; 
    width: 100%;
    background-color: #f3f3f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.BurgerMenu{
    height: 40px;
}

.h3{
    font-size: 30px;
    font-weight: bold;
}

.h4{
    font-size: 25px;
    font-weight: 200;
}

.maj{
    margin: 20px;
    font-size: 18px;
}

.select{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.MenuItem{
    width: 120px;
    height: 40px !important;
    color: #32738C !important;
}

.inputJour{
    color: #32738C;
}

.MenuItemColor:hover {
background-color: #e0f3f8;
}

.tableContainer{
    width: 90vw !important;
    margin: 20px
}

.BurgerMenu:hover{
    cursor: pointer
}


@media (max-width: 768px) {
    .container {
        height: 100vh; 
        width: 100%;
        background-color: #f3f3f3;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .tableContainer {
        overflow-y: scroll;
        margin-bottom: 30px;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .BurgerMenu{
        height: 30px;
    }
    
    .h3{
        font-size: 22px;
        font-weight: 500;
    }

    .h4{
        font-size: 20px;
        font-weight: 200;
    }

    .select{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .tableContainer{
        margin: 0px
    }

    .maj {
        display: flex;
        width: 100vw;
        height: 30px;
        align-items: center;
        margin-bottom: 30px;
        font-size: 12px;
    }

    .button {
        width: 60%;
        height: 50px;
        background: #32738C;
        color: #e6e6e6;
        font-weight: 200;
        padding: 15px;
        border-radius: 35px;
        border: solid 1px #7f7f7f;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 18px;
      }
      
      .button:hover {
        background: #6596a9;
      }

      .btnContainer {
        display: flex;
        justify-content: center;
      }

      .MenuItem{
        width: 100px;
        height: 50px;
    }
    
}
